/* --- Table layout. --- */
.table {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 1px;
    gap: 40px;
}

/* Players & dealer areas. */
#playerArea, #dealerArea {
    flex: 1;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 10px;
}

#playerInfo {
    margin-bottom: 8px;
}

/* Card containers. */
#playerCards, #dealerCards {
    min-height: 260px;
    background: #fafafa;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 20px;

    /* Auto switch to new line for cards display. */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;
    box-sizing: border-box;
}

/* --- Bet box outer container. --- */
#betBox {
    width: 80%;
    margin: 10px auto;
    background: white;
    border: 2px solid #444;
    border-radius: 12px;
    overflow: hidden;
}

/* Slider box. */
#betBox h3 {
    margin: 0;
    padding: 15px 20px;
    background: #f4f4f4;
    border-bottom: 3px solid #444;
    font-size: 26px;
    text-align: left;
    font-weight: bold;
}

/* Slider row. */
.sliderRow {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px;
}

/* Slider width. */
#betSlider {
    flex: 1;
}

/* Slider number. */
#betValue {
    font-size: 15px;
    font-weight: bold;
    width: 30px;
}

/* Slider buttons row. */
.btnRow {
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
